.noTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    gap: 16px;
    border-radius: 8px;

    border-top: 1px solid #333333;

    width: 100%;
    height: 244px;
}

p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 140%;
}

@media screen and (max-width: 640px) {
    .noTasks {
        display: flex;
        width: 100%;
        background: greenyellow;
    }
}