.container {
    max-width: 736px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.content {
    display: flex;
    width: 736px;
    margin: 0 auto;
    box-sizing: border-box;
}

.newTaskBar {
    display: flex;
    margin-top: -2rem;
}

.newTaskBar input {
    width: 638px;
    height: 56px;
    background: var(--gray-500);
    color: var(--gray-300);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
}

.newTaskBar .btnAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 56px;
    margin-left: 0.5rem;
    border-radius: 8px;
    background: var(--blue-dark);
    color: var(--gray-100);
    gap: 0.5rem;
    cursor: pointer;
    transition: background 0.2s;
    border: 1 solid var(--blue);
}

.newTaskBar .btnAdd:hover {
    background: var(--blue);
}

/* INFO CONTENT TASK */
.contentInfoTasks {
    width: 736px;
    margin: 4rem auto 1.5rem auto;
    display: flex;
    justify-content: space-between;
}

.infoTasks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.infoTasks span,
p {
    font-weight: bold;
    font-size: 0.875rem;
}

.infoTasks .firstSpan {
    color: var(--blue);
}

.secondSpan {
    color: var(--purple);
}

.infoTasks p {
    padding: 2px 8px;
    background: var(--gray-400);
    border-radius: 50px;
    color: var(--gray-200);
    font-weight: 700;
    font-size: 0.75rem;
}

.showTasks {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}


.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    background: var(--gray-500);
    margin-bottom: 12px;
    gap: 12px;
}

.title {
    word-wrap: break-word;
    width: 590px;
    text-align: start;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
}

.completed {
    word-wrap: break-word;
    width: 590px;
    text-align: start;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    text-decoration: line-through;
}

.card button {
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
    background: transparent;
}

.actions {
    display: flex;
    align-items: center;
    gap: 4px;
}

.card .actions .btnEdit {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    color: #808080;
    padding: 6px;
    border-radius: 6px;
    background: transparent;
}
.card .actions .btnDelete {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    color: #808080;
    padding: 6px;
    border-radius: 6px;
    background: transparent;
}

.card .actions .btnDelete:hover {
    color: var(--danger);
    background: var(--gray-400);
}

.card .actions .btnEdit:hover {
    color: var(--green);
    background: var(--gray-400);
}